body{
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h1{
  margin: 0 auto;
  font-family: 'Beth Ellen', cursive;
  color:  #66BFBF;
  }

h2{
  color:  #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;

}

h3{
  color: #11999E;

}

p{
  color: #40514E;
  line-height: 2;

}

hr{
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 4%;
margin: 100px auto;

}

a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  line-height: 2;

}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
}

.profile{
  padding-top: 100px;
  margin: auto;
  width: 30%;

}

.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}

.computer{
width: 25%;
float: left;
margin: 30px;
}

.chillies{
  width: 25%;
float: right;
margin: 30px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;


}
.footer-link{
  color: #11999E;

}
.contact-me{
  padding: 100px;
}

.btn {
	background-color:#11999E;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #11cdd4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
font-family: 'Roboto Condensed', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#30e3cb;
}
.btn:active {
	position:relative;
	top:1px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
